@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
/* styles.css or index.css */

/* Custom Keyframe for continuous wave animation */
@keyframes wave {
  0% {
    stroke-dashoffset: 200%;
  }
  50% {
    stroke-dashoffset: 0%;
  }
  100% {
    stroke-dashoffset: 200%;
  }
}

/* Tailwind class for a smooth back-and-forth wave animation */
.path-animate {
  stroke-dasharray: 200%;
  stroke-dashoffset: 200%;
  animation: wave 3.5s ease-in-out infinite alternate;
  stroke-linecap: round;
}

.path-animate:nth-child(1) {
  animation-delay: 0s;
}
.path-animate:nth-child(2) {
  animation-delay: 0.5s;
}
.path-animate:nth-child(3) {
  animation-delay: 1s;
}
.path-animate:nth-child(4) {
  animation-delay: 1.5s;
}
.path-animate:nth-child(5) {
  animation-delay: 2s;
}
